__pycache__/
.vscode/
temporary/
www_god_mode.json
www_credentials.json
www_token.pickle

www_test.py
www_test2.py
www_test3.py

notes.txt
TB_Themes.json

working_progress/
OLD/
required_programs/

RHMH.db
SLIKE.db


